body {
  margin: 0;
  background: rgb(236, 236, 236);
}

.header-top {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.nav-home {
  height: 50px;
  width: 100%;
  background: linear-gradient(rgba(70, 70, 70, 0.801), rgba(70, 70, 70, 0));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
}

.nav-home a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "the-seasons", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nav-home ul {
  padding: 0;
}


.header-top img {
  z-index: -1;
  grid-column: 1/-1;
  grid-row: 1/-1;
  width:100%;
  align-self: baseline;
}
@media (max-width: 850px) {
    .header-top img {
        z-index: -1;
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: auto;
        height: 100%;
        align-self: baseline;
      }
}

.header-top div {
  display: grid;
  grid-column: 1/-1;
  grid-row: 3/4;
  justify-items: center;
}

.header-top p {
  font-family: "chaparral-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 0;
  margin-top: 10px;
}

.header-top h1 {
  margin: 0;
  font-family: "domlovesmary-pro", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 60px;
}

.header-top h2 {
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: "bickham-script-pro-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }

  .confirmasist-txt{
    color: white;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }

  .text-location{
    display: grid;
    margin: 10px;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;
    gap: 20px;
    align-items: center;
    overflow: hidden;
  }

  .text-location img{
    grid-column: 1/2;
    grid-row: 1/4;
    overflow: hidden;

    width: 100%;
  }

  .text-location h2{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .text-location p{
    grid-column: 2/4;
    grid-row: 2/3;
  } 
  .text-location a{
    text-decoration: none;
  }

.asist-home{
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    align-items: center;
    
}
.asist-home img{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.asist-home .txt-img-conf{
    color: rgb(251, 253, 255);
    z-index: 2;
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: italic; 
    grid-row: 1/-1;
    grid-column: 1/-1;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.txt-img-conf p{
  font-size: 25px;
}

.txt-img-conf a{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: gray;
}

.txt-img-conf h3{
  padding: 5px;
  color: white;
  font-family: "chaparral-pro", serif;
  font-weight: 400;
  font-style: normal;
}

footer{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: rgb(90, 89, 89);
}

a:hover{
    text-decoration: underline;
}

.art-hotel{
    display: grid;
    padding: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;
    gap: 20px;
    grid-template-areas: 
    "h h h h"
    "a a b b"
    ". c c .";
}

.art-hotel h2{
    grid-column: 1/-1;
    grid-row: 1/2;
    font-family: the-seasons, sans-serif;
    font-weight: 700;
    font-style: normal;
    grid-area: h;
}

.art-hotel header{
    font-family: the-seasons, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ga-a{
  grid-area: a;
}

.ga-b{
  grid-area: b;
}

.ga-c{
  grid-area: c;
}

.num-tel{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;
}

form{
    display: flex;
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    padding: 100px;
    flex-direction: column;
}

fieldset{
    margin-top: 20px;
    margin-bottom: 20px;
}

button, input{
    font-family: the-seasons, sans-serif;
    font-weight: 300;
}

.nivel2-detalles{
  display: grid;
  width: 100%;
  font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;

  grid-template-areas: 
  "dc ub"
  "mr mr";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;

  justify-items: center;
  text-align: center;
}


.nivel2-detalles .mrg{
  margin-left: 50px;
  margin-right: 40px;
}

.ubicacion-detalles{
  grid-area: ub;
  z-index: 2;
}

.codigodevestimenta-detalles{
  grid-area: dc;
  z-index: 2;
}

.mesaderegalos-detalles{
  margin-top: 50px;
  grid-area: mr;
  z-index: 2;
}

.txt-detalles{
  margin: 40px;
  font-family: the-seasons, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;

}

